/*Aufgabe: 10-ClientServer
  Name: Nadine Malinowski
  Datum: 22.06.2017
  Matrikel: 254763
  Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/


* {
	display: block;
	vertical-align: top
}

input[type="radio"], input[type="checkbox"], label {
	display: inline;
}

label::after {
	content:"";
	display: block;
}

head {
	display: none;
}

input:valid {
	background: white;
}

fieldset {
	margin: 3%;
	background-color: #FBF0B3;
}

svg, figure, button, option {
	display: inline;
	margin: 0px;
	padding: 0px;
}

h1 {
	margin-left: 20%;
	font-size: 5vw;
	margin-top: 3%;
	color: white;
}

img{
	margin-top: 4%;
	margin-left: 23%;
	margin-bottom: 1%;
}

body {
	background-color: #F4EFD3;
}

div {
	float: left;
	width: 24em;
	margin: 2%;
    height: 100%;
}

button {
	margin-left: 3%;
	margin-top: 3%;
	background-color: #97893A;
	color: white; 
}

legend {
	font-size: 1.2em;
	color: #97893A;
}

header {
	width: 100%;	
	margin-top: -2%;
	height: 6vw;
	background-color: #97893A;
}
