/*Aufgabe: 2a-Dynamic HTML
  Name: Nadine Malinowski
  Datum: 01.04.2017
  Matrikel: 254763
  Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/
* 

div	{
	width: 12%;
	height: 11em;
	float: left;
	text-align: center;
	line-height: 11vmin;
	font-size: 0.8em;
	font-weight: bold;
	border: 0.1px solid black;
}


